section.inspiring {
    padding: 60px;
}

div.inspiring-div {
    padding: 60px;
    height: 200px;
    background: -webkit-linear-gradient(to right, #294963, #315663, #3a6059, #37594c, #324d45);
    background: -o-linear-gradient(to right, #294963, #315663, #3a6059, #37594c, #324d45);
    background: linear-gradient(to right, #294963, #315663, #3a6059, #37594c, #324d45);
    border-radius: 35px;
    position: relative;
}

div.inspiring-div img {
    position: absolute;
}

div.inspiring-div .yarimdaire {
    top: -30px;
}

div.inspiring-div .daire {
    right: 290px;
    top: -11px;
}

div.inspiring-div .yashilHalqa {
    right: -30px;
    top: -30px;
}

div.inspiring-div .yarimHalqa {
right: 100px;
bottom: -50px;
}

div.inspiring-div .sariHalqa {
left: 150px;
bottom: 15px;
}

div.inspiring-div .sektor {
left: -35px;
bottom: -30px;
}